params {
    modules {
        'sra_ids_to_runinfo' {
            publish_dir     = 'public_data'
            publish_files   = ['tsv':'runinfo']
        }
        'sra_runinfo_to_ftp' {
            publish_dir     = 'public_data'
            publish_files   = ['tsv':'runinfo']
        }
        'sra_fastq_ftp' {
            publish_dir     = 'public_data'
            publish_files   = ['fastq.gz':'', 'md5':'md5']
        }
        'sra_to_samplesheet' {
            publish_dir     = 'public_data'
            publish_files   = false
        }
        'sra_merge_samplesheet' {
            publish_dir     = 'public_data'
        }
    }
}